.box {
  width: 300px;
  float: left;
  border: 2px solid black;
  padding: 5px;
  margin: 1px;
  div {
    border-top: 1px solid grey;
  }
  .links div {
    border-top: none;
  }
}
.admin {
  a {
    font-size: smaller;
  }
}