body p {
  padding: 10px;
}

.main {
  max-width: 740px;
  padding: 10px;
  margin: 0 auto;
  background-image: url("/images/coop.jpg");
  border: 1px solid $dark;
  border-radius: 4px;
}

a {
  color: $dark-muted;
  text-decoration: underline;
}

.clear {
  clear: both;
}