<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="title">Tinybones</div>
        <nav>
            <div>{{#if user.name}}
                {{user.name}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Log in with GitHub</a>
            {{/if}}</div>
        </nav>
    </header>
    {{{body}}}
  </body>
</html>
